SECRET_KEY=dev-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

LANGUAGE_CODE=pt-br
TIME_ZONE=America/Fortaleza

DATABASE_ENGINE=postgres
POSTGRES_DB=app_dev_db
POSTGRES_USER=app_dev_user
POSTGRES_PASSWORD=app_dev_password
POSTGRES_HOST=database
POSTGRES_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:5173

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False

MAPBOX_ACCESS_TOKEN=coloque-sua-chave-dev-aqui
ROUTING_PROVIDER=mapbox
PRICE_PER_KM=0.50